{%- layout none -%}
{%- if cart.items.size > 0 -%}
{%- assign _temp = search.terms | split: "_" -%}
{%- assign _product = all_products[_temp[0]] -%}
{%- assign _variant_id = _temp[1] | plus: 0 -%}
{%- if _product.variants.size > 1 -%}
{%- for variant in _product.variants -%}
{%- if variant.id == _variant_id-%}
{%- assign _image = variant.image.src -%}	
{%- break -%}
{%- endif -%}
{%- endfor -%}
{%- else -%}
{%- assign _image = _product.featured_image -%}	
{%- endif -%}
{%- assign _quantity = _temp[2] -%}
{%- assign _price = _temp[3] -%}
<div id="cart_popup" class="mfp-hide cart_popup_wrapper">
  <div class="cart_mobile_content">
    <div class="cart-success-messages">
      {{- "cart.general.success" | t -}}
    </div>
    <a href="#" class="button btn-default continue-shopping">{{ 'cart.general.continue_shopping' | t }}</a>
    <a href="/cart" class="button btn-default">{{ 'general.cart_info.view_shopping_bag' | t }}</a>
    <a href="/checkout" class="button">{{ 'general.cart_info.checkout' | t }}</a>
  </div>
  <div class="cart_desktop_content">
    <div class="row">
      <div class="col-md-6 col-lg-6 cart-popup-left">
        <div class="cart-success-messages">
          {{- "cart.general.success" | t -}}
        </div>
        <div class="cart-popup-product">
          <div class="cart-item-image">
            <img src="{{  _image | img_url: '500x' }}" alt="{{ _product.title | escape }}" />
          </div>
          <div class="cart-item-title">{{ _product.title }}</div>
          <div class="cart-item-qty">{{ 'cart.general.quantity' | t }}: <span>{{ _quantity }}</span></div>
        </div>
        <div class="cart-item-total">
          <div class="cart-item-total-price">
            {{ 'cart.general.total' | t }}: <span class="money">{{_price | times:_quantity | money}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 cart-popup-right">
        <a href="/cart" class="cart-popup-total">
          {{ 'cart.general.cart_with_count' | t: count: cart.item_count }}
          <div class="cart-price-total">
            {{ 'general.cart_info.sub_total' | t }} <span class="money">{{ cart.total_price | money }}</span>
          </div>
        </a>
        <div class="cart-popup-action">
          <a href="#" class="button btn-default continue-shopping">{{ 'cart.general.continue_shopping' | t }}</a>
          <a href="/cart" class="button btn-default">{{ 'general.cart_info.view_shopping_bag' | t }}</a>
          <a href="/checkout" class="button">{{ 'general.cart_info.checkout' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- include "cartblock" with "header" -%}